.blackStripeBg{
    background: url(../../../images/blackBg.jpg);
    background-color: white;
    height: 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.serviceCard{
    width: 350px;
    background-color: white;
    border-radius: 10px;
}

.PremiumServiceImage{
    width: 350px;
    height: 200px;
    padding: 1px;
    border-radius: 10px 10px 0 0;
}