.dashboardItemContainer{
    padding-top: 50px;
}
.sideBar{
    /* position: fixed; */
    height: 97vh;
    background: linear-gradient(rgb(17, 4, 4), rgb(189, 22, 22));
}

.dashboardItemDiv{
    padding-top: 20px;
}

.dashboardItems{
    padding-left: 80px;
    color: white;
} 